<div class="container me-3 my-5 p-0 ml-auto">
  <div class="row">
    <div class="my-3"></div>
    <div class="col-lg-12 text-center">
      <h4 class="col-md-3">企業ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label 'メールアドレス' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-5" %>
        </div>

        <div class="field">
          <%= f.label 'パスワード　　' %>
          <%= f.password_field :password, autocomplete: "current-password", class: "px-5" %>
        </div>

        <div class="actions" style="margin-bottom: 200px">
          <%= f.submit 'ログイン', class: "btn btn-secondary m-5 px-5" %><br>
          <%= render "companies/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>