<!--人材側企業一覧-->
<h1>企業一覧</h1>

<% @company.each do |company| %>

  <%= link_to _path do %>
    <!--見出し-->
    <%= @question.title %>
  <% end %>
  <!--企業名-->
  <%= @company.name %>
  <!--住所-->
  <%= @company.address %>
  <!--月給-->
  <%= @company.wage %>

<% end %>