<!--人材側企業一覧-->
<h1>企業一覧</h1>

<% @companies.each do |company| %>

  <%= link_to company_path(company) do %>
    <!--見出し-->
    <%= company.head %>
  <% end %>
  <!--企業名-->
  <%= company.name %>
  <!--住所-->
  <%= company.address %>
  <!--月給-->
  <%= company.wage %>

<% end %>