<!--人材側質問投稿-->
<h1>質問フォーム</h1>

<%= @company.name %>

<%= form_with model: @question, url: create_questions_path(@company), method: :post do |f| %>

<h4>質問タイトル</h4>
  <%= f.text_field :title %>

<h4>質問内容</h4>
  <%= f.text_area :question_content %>

  <%= f.submit '送信' %>

<% end %>