<!--人材側企業詳細-->
<h1>企業詳細ページ</h1>

<h4>見出し</h4>
<%= @company.head %>

<h4>企業名</h4>
<%= @company.name %>

<h4>企業URL</h4>
<%= @company.link %>

<h4>住所</h4>
<%= @company.address %>

<h4>仕事内容</h4>
<%= @company.content %>

<h4>１日のスケジュール</h4>
<%= @company.schedule %>

<h4>月給</h4>
<%= @company.wage %>

<h4>休日</h4>
<%= @company.vacation %>

<h4>雇用形態</h4>
<%= @company.employment %>

<h4>福利厚生</h4>
<%= @company.welfare %>

<%= link_to "質問する", new_question_path(@company) %>

<%= link_to "戻る", questions_path %>
