<div class="container me-3 my-5 p-0 ml-auto">
  <div class="row">
    <div class="my-3"></div>
    <div class="col-lg-12 text-center">
      <h4 class="col-md-3">企業アカウント登録</h4>

      <%= form_with model: @company, url: company_registration_path do |f| %>
        <%= render "companies/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label 'メールアドレス　　' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-5" %>
        </div>

        <div class="field">
          <%= f.label 'パスワード' %>
          <% if @minimum_password_length %>
          <em>※<%= @minimum_password_length %>字以上</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "px-5" %>
        </div>

        <div class="field">
          <%= f.label 'パスワード※確認用　' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "px-5" %>
        </div>

        <div class="actions" style="margin-bottom: 200px">
          <%= f.submit '登録', class: "btn btn-secondary m-5 px-5" %><br>
          <%= render "companies/shared/links" %>
        </div>
      <% end %>

    </div>
  </div>
</div>